//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 22 12:15:55 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Q0" LOCATE = SITE "D11" LEVEL 1;
COMP "Q1" LOCATE = SITE "E9" LEVEL 1;
COMP "Q2" LOCATE = SITE "F9" LEVEL 1;
COMP "CLK_CR" LOCATE = SITE "K17" LEVEL 1;
PIN CLK_CR_pin<0> = BEL "CLK_CR" PINNAME PAD;
PIN "CLK_CR_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLK_50MHZ" LOCATE = SITE "C9" LEVEL 1;
COMP "E" LOCATE = SITE "L13" LEVEL 1;
COMP "RESET" LOCATE = SITE "D18" LEVEL 1;
NET "CLK_CR_BUFGP/IBUFG" BEL "CLK_CR_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_50MHZ_BUFGP/IBUFG" BEL "CLK_50MHZ_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

